## Importing Libraries And Setting Working Directory

In [62]:
import pandas as pd
import os # use this to access your environment variables
import requests # this will be used to call the APIs
import numpy as np
import time

In [ ]:
os.chdir("C:/Users/Laven/Documents/Data_Analysis/Capstone_Project")

## Getting API Key

In [7]:
google_api_key = os.getenv('GOOGLE_PLACES_API_KEY')

## Querying Database

In [5]:
google_parameters = {
    'query': 'bar in Montreal',
    'key': google_api_key,
    'location': '45.5088,-73.5878',
    'radius': 30000, 
}

In [19]:
data = []
response = requests.get('https://maps.googleapis.com/maps/api/place/textsearch/json', params=google_parameters)

In [20]:
while True:
    if response.status_code == 200:
        response_json = response.json()
        results = response_json.get('results', [])
        for place in results:
            data.append({
                'Name': place.get('name'),
                'Address': place.get('formatted_address'),
                'Latitude': place['geometry']['location']['lat'],
                'Longitude': place['geometry']['location']['lng'],
                'Rating': place.get('rating', 'N/A'),  # Default if not available
                'Price Level': place.get('price_level', 'N/A')  # Default if not available
            })
        next_page_token = response_json.get('next_page_token')
        if not next_page_token:
            break
        time.sleep(2)  # Pause before making the next request
        google_parameters['pagetoken'] = next_page_token
        response = requests.get('https://maps.googleapis.com/maps/api/place/textsearch/json', params=google_parameters)
    else:
        print(f"Request failed with status code {response.status_code}")
        break

In [31]:
data

[{'Name': 'Bootlegger cocktail bar & cuisine',
  'Address': '3481 St Laurent Blvd 2eme Etage, Montreal, Quebec H2X 2T6, Canada',
  'Latitude': 45.5131942,
  'Longitude': -73.5706793,
  'Rating': 4.6,
  'Price Level': 2},
 {'Name': 'Cloakroom Bar',
  'Address': '2175 Rue de la Montagne #100, Montréal, QC H3G 1Z8, Canada',
  'Latitude': 45.4994655,
  'Longitude': -73.5778416,
  'Rating': 4.7,
  'Price Level': 3},
 {'Name': 'Bar Courcelle',
  'Address': '4685 Notre-Dame St W, Montreal, Quebec H4C 1S7, Canada',
  'Latitude': 45.472933,
  'Longitude': -73.5888025,
  'Rating': 4.4,
  'Price Level': 2},
 {'Name': 'Philemon Bar',
  'Address': '111 Saint-Paul St W, Montreal, Quebec H2Y 1Z5, Canada',
  'Latitude': 45.5040576,
  'Longitude': -73.5547406,
  'Rating': 4,
  'Price Level': 2},
 {'Name': 'Grumpys Bar',
  'Address': '1242 Bishop St, Montreal, Quebec H3G 2E3, Canada',
  'Latitude': 45.4960667,
  'Longitude': -73.5757711,
  'Rating': 4.4,
  'Price Level': 1},
 {'Name': 'La Distillerie no.1',
  'Address': '300 Ontario St E, Montreal, Quebec H2X 1H6, Canada',
  'Latitude': 45.51481039999999,
  'Longitude': -73.5654241,
  'Rating': 4.6,
  'Price Level': 2},
 {'Name': 'London Pub',
  'Address': '1337 Maisonneuve Blvd W, Montreal, Quebec H3G 2C1, Canada',
  'Latitude': 45.4982975,
  'Longitude': -73.57749869999999,
  'Rating': 4.3,
  'Price Level': 2},
 {'Name': 'N sur Mackay',
  'Address': '1244 Mackay St, Montreal, Quebec H3G 2H4, Canada',
  'Latitude': 45.4953005,
  'Longitude': -73.57623670000001,
  'Rating': 4.5,
  'Price Level': 2},
 {'Name': 'Bar Le Mal Nécessaire',
  'Address': '1106B St Laurent Blvd, Montreal, Quebec H2Z 1J5, Canada',
  'Latitude': 45.5085232,
  'Longitude': -73.5611959,
  'Rating': 4.5,
  'Price Level': 2},
 {'Name': 'Nhậu bar',
  'Address': '600 William St, Montreal, Quebec H3C 1N6, Canada',
  'Latitude': 45.4997336,
  'Longitude': -73.5561875,
  'Rating': 4.2,
  'Price Level': 'N/A'},
 {'Name': 'The Coldroom',
  'Address': 'R. Saint-Vincent, Montréal, QC H2Y 1G8, Canada',
  'Latitude': 45.5071838,
  'Longitude': -73.55311689999999,
  'Rating': 4.7,
  'Price Level': 3},
 {'Name': 'El Pequeño Bar',
  'Address': '401a R. Saint-Vincent, Montréal, QC H2Y 3A4, Canada',
  'Latitude': 45.5071216,
  'Longitude': -73.553145,
  'Rating': 4.7,
  'Price Level': 2},
 {'Name': 'Bar Waverly',
  'Address': '5550 St Laurent Blvd, Montreal, Quebec H2T 1S8, Canada',
  'Latitude': 45.5257571,
  'Longitude': -73.5991868,
  'Rating': 4.1,
  'Price Level': 2},
 {'Name': 'Atwater Cocktail Club',
  'Address': '512 Atwater Ave, Montreal, Quebec H4C 2G5, Canada',
  'Latitude': 45.4814235,
  'Longitude': -73.57832909999999,
  'Rating': 4.6,
  'Price Level': 2},
 {'Name': "Ziggy's Pub",
  'Address': '1470 Crescent St, Montreal, Quebec H3G 2B6, Canada',
  'Latitude': 45.4977765,
  'Longitude': -73.57723370000001,
  'Rating': 4.1,
  'Price Level': 2},
 {'Name': 'Candi bar',
  'Address': '1148 Mont-Royal Ave E, Montreal, Quebec H2J 1X8, Canada',
  'Latitude': 45.52850830000001,
  'Longitude': -73.57856629999999,
  'Rating': 3.9,
  'Price Level': 2},
 {'Name': 'Nacarat Bar, Queen Elizabeth Hotel, Montreal',
  'Address': '900 René-Lévesque Blvd W, Montreal, Quebec H3B 4A5, Canada',
  'Latitude': 45.5006599,
  'Longitude': -73.5680847,
  'Rating': 4.3,
  'Price Level': 'N/A'},
 {'Name': "Bar L'Barouf",
  'Address': '4171 Saint Denis St, Montreal, Quebec H2W 2M3, Canada',
  'Latitude': 45.521809,
  'Longitude': -73.577784,
  'Rating': 4.1,
  'Price Level': 2},
 {'Name': "Pub L'Île Noire",
  'Address': '1649 Saint Denis St, Montreal, Quebec H2X 3K4, Canada',
  'Latitude': 45.5152276,
  'Longitude': -73.5633248,
  'Rating': 4.6,
  'Price Level': 2},
 {'Name': 'Barfly',
  'Address': '4062 St Laurent Blvd, Montreal, Quebec H2W 1Y8, Canada',
  'Latitude': 45.5170431,
  'Longitude': -73.580043,
  'Rating': 4.1,
  'Price Level': 1},
 {'Name': 'Bar Renard',
  'Address': '1272 St Catherine St E, Montreal, Quebec H2L 2H2, Canada',
  'Latitude': 45.5190369,
  'Longitude': -73.5554958,
  'Rating': 4.3,
  'Price Level': 2},
 {'Name': 'Taverne Midway',
  'Address': '1219 St Laurent Blvd, Montreal, Quebec H2X 2S6, Canada',
  'Latitude': 45.50974009999999,
  'Longitude': -73.5632631,
  'Rating': 4.3,
  'Price Level': 2},
 {'Name': 'LE BAYOU BAR',
  'Address': '4134 St Laurent Blvd, Montreal, Quebec H2W 1Y8, Canada',
  'Latitude': 45.5176042,
  'Longitude': -73.58108299999999,
  'Rating': 3.9,
  'Price Level': 'N/A'},
 {'Name': 'Mad Hatter Pub',
  'Address': '1240 Crescent St, Montreal, Quebec H3G 2A9, Canada',
  'Latitude': 45.496702,
  'Longitude': -73.5752619,
  'Rating': 4.3,
  'Price Level': 1},
 {'Name': 'Bar MINĒRAL',
  'Address': '1641 R. Atateken, Montréal, QC H2L 3L4, Canada',
  'Latitude': 45.5187982,
  'Longitude': -73.55970789999999,
  'Rating': 4.5,
  'Price Level': 'N/A'},
 {'Name': 'Moose Bawr',
  'Address': '1817 Saint-Catherine St W, Montreal, Quebec H3H 1M2, Canada',
  'Latitude': 45.49359279999999,
  'Longitude': -73.57975139999999,
  'Rating': 4.2,
  'Price Level': 2},
 {'Name': 'Sir Winston Churchill Pub',
  'Address': '1455 Crescent St, Montreal, Quebec H3G 2B2, Canada',
  'Latitude': 45.4979112,
  'Longitude': -73.5768909,
  'Rating': 4,
  'Price Level': 2},
 {'Name': "Le P'tit Bar",
  'Address': '3451 Saint Denis St, Montreal, Quebec H2X 3L1, Canada',
  'Latitude': 45.5175218,
  'Longitude': -73.5683652,
  'Rating': 4.5,
  'Price Level': 1},
 {'Name': 'Bar Pamplemousse',
  'Address': '1579 St Laurent Blvd, Montreal, Quebec H2X 2S9, Canada',
  'Latitude': 45.510883,
  'Longitude': -73.56566470000001,
  'Rating': 4.5,
  'Price Level': 2},
 {'Name': 'Bar A',
  'Address': '213 Rue Rachel E, Montréal, QC H2W 1E4, Canada',
  'Latitude': 45.5200081,
  'Longitude': -73.5800179,
  'Rating': 4.6,
  'Price Level': 1},
 {'Name': 'Bar vodka',
  'Address': '5505 Decarie Blvd, Montreal, Quebec H3W 3C7, Canada',
  'Latitude': 45.4871389,
  'Longitude': -73.6359497,
  'Rating': 4.1,
  'Price Level': 1},
 {'Name': 'Piranha Bar',
  'Address': '680 Saint-Catherine St W, Montreal, Quebec H3B 1C2, Canada',
  'Latitude': 45.5028519,
  'Longitude': -73.5699419,
  'Rating': 4.1,
  'Price Level': 1},
 {'Name': 'Bar Plan-B',
  'Address': '327 Mont-Royal Ave E, Montreal, Quebec H2T 1P8, Canada',
  'Latitude': 45.5232361,
  'Longitude': -73.5836781,
  'Rating': 4.3,
  'Price Level': 2},
 {'Name': 'Bar George',
  'Address': 'Le Mount Stephen, 1440 Drummond St, Montreal, Quebec H3G 1V9, Canada',
  'Latitude': 45.49904430000001,
  'Longitude': -73.57577789999999,
  'Rating': 4.5,
  'Price Level': 3},
 {'Name': "l'idéal bar & contenus",
  'Address': '151 Ontario St E, Montreal, Quebec H2X 1H5, Canada',
  'Latitude': 45.5129854,
  'Longitude': -73.5663466,
  'Rating': 4.5,
  'Price Level': 'N/A'},
 {'Name': 'BAR - Big in Japan',
  'Address': '4175 St Laurent Blvd, Montreal, Quebec H2W 1Y7, Canada',
  'Latitude': 45.5180321,
  'Longitude': -73.5814716,
  'Rating': 4.2,
  'Price Level': 3},
 {'Name': 'Pub Andrew’s',
  'Address': '1239 Guy St, Montreal, Quebec H3H 2K5, Canada',
  'Latitude': 45.49484330000001,
  'Longitude': -73.5770086,
  'Rating': 4.3,
  'Price Level': 1},
 {'Name': 'Bar Suzanne',
  'Address': '20 Duluth Ave E, Montreal, Quebec H2W 1G6, Canada',
  'Latitude': 45.51724170000001,
  'Longitude': -73.5789417,
  'Rating': 4.4,
  'Price Level': 2},
 {'Name': 'Sans Soleil Bar',
  'Address': '1002 Rue Saint-Urbain, Montréal, QC H2Z 1K6, Canada',
  'Latitude': 45.5065579,
  'Longitude': -73.560513,
  'Rating': 4.6,
  'Price Level': 'N/A'},
 {'Name': 'Bar Furco',
  'Address': '425 Mayor St, Montreal, Quebec H3A 1N9, Canada',
  'Latitude': 45.5059676,
  'Longitude': -73.5690925,
  'Rating': 4.1,
  'Price Level': 2},
 {'Name': 'The MTL Bistro + Bar',
  'Address': '4051 Rue St-Hubert, Montréal, QC H2L 4A7, Canada',
  'Latitude': 45.5226257,
  'Longitude': -73.5743013,
  'Rating': 4.3,
  'Price Level': 2},
 {'Name': 'Bar Rouge (Bar le Bievre)',
  'Address': '5018 Decarie Blvd, Montreal, Quebec H3X 2H8, Canada',
  'Latitude': 45.4831619,
  'Longitude': -73.62879509999999,
  'Rating': 3.8,
  'Price Level': 1},
 {'Name': '132 Bar Vintage',
  'Address': '132 Rue Fleury O, Montréal, QC H3L 1T4, Canada',
  'Latitude': 45.5465666,
  'Longitude': -73.6659009,
  'Rating': 4.5,
  'Price Level': 2},
 {'Name': 'Club Pelicano',
  'Address': '1076 Rue de Bleury #001, Montreal, Quebec H2Z 1N2, Canada',
  'Latitude': 45.50450559999999,
  'Longitude': -73.5634331,
  'Rating': 4.4,
  'Price Level': 2},
 {'Name': 'Le 4ᶱ Mur',
  'Address': '2021 Saint Denis St, Montreal, Quebec H2X 3K8, Canada',
  'Latitude': 45.5162633,
  'Longitude': -73.5657721,
  'Rating': 4.6,
  'Price Level': 3},
 {'Name': 'Bar Bifteck St-Laurent',
  'Address': '3702 St Laurent Blvd, Montreal, Quebec H2X 2V4, Canada',
  'Latitude': 45.5145904,
  'Longitude': -73.5743638,
  'Rating': 4,
  'Price Level': 1},
 {'Name': 'MR250 Bar Lounge',
  'Address': '250 Mont-Royal Ave E, Montreal, Quebec H2T 1P5, Canada',
  'Latitude': 45.5224435,
  'Longitude': -73.5840703,
  'Rating': 4.3,
  'Price Level': 1},
 {'Name': 'Honey Martin',
  'Address': '5916 Sherbrooke St W, Montreal, Quebec H4A 1X7, Canada',
  'Latitude': 45.4687522,
  'Longitude': -73.6189579,
  'Rating': 4.5,
  'Price Level': 2},
 {'Name': "McLean's Pub",
  'Address': '1210 Peel St, Montreal, Quebec H3B 2T6, Canada',
  'Latitude': 45.4995305,
  'Longitude': -73.5721343,
  'Rating': 4.2,
  'Price Level': 2},
 {'Name': 'McKibbin’s',
  'Address': '1426 Bishop St, Montreal, Quebec H3G 2E6, Canada',
  'Latitude': 45.496857,
  'Longitude': -73.57723399999999,
  'Rating': 4.4,
  'Price Level': 2},
 {'Name': 'Le Boudoir café-bar Inc',
  'Address': '850 Mont-Royal Ave E, Montreal, Quebec H2J 1X1, Canada',
  'Latitude': 45.5262026,
  'Longitude': -73.5806817,
  'Rating': 4.3,
  'Price Level': 2},
 {'Name': 'Bar Henrietta',
  'Address': '115 Av. Laurier O, Montréal, QC H2T 2N6, Canada',
  'Latitude': 45.5216231,
  'Longitude': -73.59435359999999,
  'Rating': 4.5,
  'Price Level': 2},
 {'Name': 'Bar Le Record',
  'Address': '7622 Rue St-Hubert, Montréal, QC H2R 2N6, Canada',
  'Latitude': 45.5437649,
  'Longitude': -73.6201608,
  'Rating': 4.5,
  'Price Level': 1},
 {'Name': 'Goldies Bar',
  'Address': '7425 Rue Saint-Jacques, Montréal, QC H4B 1W6, Canada',
  'Latitude': 45.4536354,
  'Longitude': -73.63703749999999,
  'Rating': 3.7,
  'Price Level': 1},
 {'Name': 'Peel Pub - Sports Bar/Bar Sportif',
  'Address': '1196 Peel St, Montreal, Quebec H3B 2T6, Canada',
  'Latitude': 45.4994033,
  'Longitude': -73.57194249999999,
  'Rating': 3.8,
  'Price Level': 1},
 {'Name': 'Le Cocktail',
  'Address': '1669 St Catherine St E, Montreal, Quebec H2L 2J5, Canada',
  'Latitude': 45.5222163,
  'Longitude': -73.5528827,
  'Rating': 4.2,
  'Price Level': 'N/A'},
 {'Name': 'Bar Cicchetti',
  'Address': '6703 Park Ave, Montreal, Quebec H2V 4J3, Canada',
  'Latitude': 45.5287357,
  'Longitude': -73.6163452,
  'Rating': 4.5,
  'Price Level': 2},
 {'Name': "Hurley's Irish Pub",
  'Address': '1225 Crescent St, Montreal, Quebec H3G 2B1, Canada',
  'Latitude': 45.4968637,
  'Longitude': -73.57479289999999,
  'Rating': 4.4,
  'Price Level': 2},
 {'Name': 'Bar Sarah B',
  'Address': '360 Rue Saint-Antoine O, Montréal, QC H2Y 3X4, Canada',
  'Latitude': 45.5028077,
  'Longitude': -73.56058399999999,
  'Rating': 4.2,
  'Price Level': 3},
 {'Name': 'Bar Le Jockey',
  'Address': '1309 Rue Saint-Zotique E, Montreal, Quebec H2G 1G6, Canada',
  'Latitude': 45.5417644,
  'Longitude': -73.6029901,
  'Rating': 4.5,
  'Price Level': 2}]

In [32]:
len(data)

60

In [63]:
# Convert the data into a DataFrame
montreal_bars_df = pd.DataFrame(data)

In [23]:
montreal_bars_df

,Name,Address,Latitude,Longitude,Rating,Price Level
0,Bootlegger cocktail bar & cuisine,"3481 St Laurent Blvd 2eme Etage, Montreal, Que...",45.513194,-73.570679,4.6,2
1,Cloakroom Bar,"2175 Rue de la Montagne #100, Montréal, QC H3G...",45.499465,-73.577842,4.7,3
2,Bar Courcelle,"4685 Notre-Dame St W, Montreal, Quebec H4C 1S7...",45.472933,-73.588802,4.4,2
3,Philemon Bar,"111 Saint-Paul St W, Montreal, Quebec H2Y 1Z5,...",45.504058,-73.554741,4.0,2
4,Grumpys Bar,"1242 Bishop St, Montreal, Quebec H3G 2E3, Canada",45.496067,-73.575771,4.4,1
5,La Distillerie no.1,"300 Ontario St E, Montreal, Quebec H2X 1H6, Ca...",45.514810,-73.565424,4.6,2
6,London Pub,"1337 Maisonneuve Blvd W, Montreal, Quebec H3G ...",45.498297,-73.577499,4.3,2
7,N sur Mackay,"1244 Mackay St, Montreal, Quebec H3G 2H4, Canada",45.495300,-73.576237,4.5,2
8,Bar Le Mal Nécessaire,"1106B St Laurent Blvd, Montreal, Quebec H2Z 1J...",45.508523,-73.561196,4.5,2
9,Nhậu bar,"600 William St, Montreal, Quebec H3C 1N6, Canada",45.499734,-73.556187,4.2,N/A
10,The Coldroom,"R. Saint-Vincent, Montréal, QC H2Y 1G8, Canada",45.507184,-73.553117,4.7,3
11,El Pequeño Bar,"401a R. Saint-Vincent, Montréal, QC H2Y 3A4, C...",45.507122,-73.553145,4.7,2
12,Bar Waverly,"5550 St Laurent Blvd, Montreal, Quebec H2T 1S8...",45.525757,-73.599187,4.1,2
13,Atwater Cocktail Club,"512 Atwater Ave, Montreal, Quebec H4C 2G5, Canada",45.481423,-73.578329,4.6,2
14,Ziggy's Pub,"1470 Crescent St, Montreal, Quebec H3G 2B6, Ca...",45.497777,-73.577234,4.1,2
15,Candi bar,"1148 Mont-Royal Ave E, Montreal, Quebec H2J 1X...",45.528508,-73.578566,3.9,2
16,"Nacarat Bar, Queen Elizabeth Hotel, Montreal","900 René-Lévesque Blvd W, Montreal, Quebec H3B...",45.500660,-73.568085,4.3,N/A
17,Bar L'Barouf,"4171 Saint Denis St, Montreal, Quebec H2W 2M3,...",45.521809,-73.577784,4.1,2
18,Pub L'Île Noire,"1649 Saint Denis St, Montreal, Quebec H2X 3K4,...",45.515228,-73.563325,4.6,2
19,Barfly,"4062 St Laurent Blvd, Montreal, Quebec H2W 1Y8...",45.517043,-73.580043,4.1,1
20,Bar Renard,"1272 St Catherine St E, Montreal, Quebec H2L 2...",45.519037,-73.555496,4.3,2
21,Taverne Midway,"1219 St Laurent Blvd, Montreal, Quebec H2X 2S6...",45.509740,-73.563263,4.3,2
22,LE BAYOU BAR,"4134 St Laurent Blvd, Montreal, Quebec H2W 1Y8...",45.517604,-73.581083,3.9,N/A
23,Mad Hatter Pub,"1240 Crescent St, Montreal, Quebec H3G 2A9, Ca...",45.496702,-73.575262,4.3,1
24,Bar MINĒRAL,"1641 R. Atateken, Montréal, QC H2L 3L4, Canada",45.518798,-73.559708,4.5,N/A
25,Moose Bawr,"1817 Saint-Catherine St W, Montreal, Quebec H3...",45.493593,-73.579751,4.2,2
26,Sir Winston Churchill Pub,"1455 Crescent St, Montreal, Quebec H3G 2B2, Ca...",45.497911,-73.576891,4.0,2
27,Le P'tit Bar,"3451 Saint Denis St, Montreal, Quebec H2X 3L1,...",45.517522,-73.568365,4.5,1
28,Bar Pamplemousse,"1579 St Laurent Blvd, Montreal, Quebec H2X 2S9...",45.510883,-73.565665,4.5,2
29,Bar A,"213 Rue Rachel E, Montréal, QC H2W 1E4, Canada",45.520008,-73.580018,4.6,1
30,Bar vodka,"5505 Decarie Blvd, Montreal, Quebec H3W 3C7, C...",45.487139,-73.635950,4.1,1
31,Piranha Bar,"680 Saint-Catherine St W, Montreal, Quebec H3B...",45.502852,-73.569942,4.1,1
32,Bar Plan-B,"327 Mont-Royal Ave E, Montreal, Quebec H2T 1P8...",45.523236,-73.583678,4.3,2
33,Bar George,"Le Mount Stephen, 1440 Drummond St, Montreal, ...",45.499044,-73.575778,4.5,3
34,l'idéal bar & contenus,"151 Ontario St E, Montreal, Quebec H2X 1H5, Ca...",45.512985,-73.566347,4.5,N/A
35,BAR - Big in Japan,"4175 St Laurent Blvd, Montreal, Quebec H2W 1Y7...",45.518032,-73.581472,4.2,3
36,Pub Andrew’s,"1239 Guy St, Montreal, Quebec H3H 2K5, Canada",45.494843,-73.577009,4.3,1
37,Bar Suzanne,"20 Duluth Ave E, Montreal, Quebec H2W 1G6, Canada",45.517242,-73.578942,4.4,2
38,Sans Soleil Bar,"1002 Rue Saint-Urbain, Montréal, QC H2Z 1K6, C...",45.506558,-73.560513,4.6,N/A
39,Bar Furco,"425 Mayor St, Montreal, Quebec H3A 1N9, Canada",45.505968,-73.569092,4.1,2
40,The MTL Bistro + Bar,"4051 Rue St-Hubert, Montréal, QC H2L 4A7, Canada",45.522626,-73.574301,4.3,2
41,Bar Rouge (Bar le Bievre),"5018 Decarie Blvd, Montreal, Quebec H3X 2H8, C...",45.483162,-73.628795,3.8,1
42,132 Bar Vintage,"132 Rue Fleury O, Montréal, QC H3L 1T4, Canada",45.546567,-73.665901,4.5,2
43,Club Pelicano,"1076 Rue de Bleury #001, Montreal, Quebec H2Z ...",45.504506,-73.563433,4.4,2
44,Le 4ᶱ Mur,"2021 Saint Denis St, Montreal, Quebec H2X 3K8,...",45.516263,-73.565772,4.6,3
45,Bar Bifteck St-Laurent,"3702 St Laurent Blvd, Montreal, Quebec H2X 2V4...",45.514590,-73.574364,4.0,1
46,MR250 Bar Lounge,"250 Mont-Royal Ave E, Montreal, Quebec H2T 1P5...",45.522444,-73.584070,4.3,1
47,Honey Martin,"5916 Sherbrooke St W, Montreal, Quebec H4A 1X7...",45.468752,-73.618958,4.5,2
48,McLean's Pub,"1210 Peel St, Montreal, Quebec H3B 2T6, Canada",45.499530,-73.572134,4.2,2
49,McKibbin’s,"1426 Bishop St, Montreal, Quebec H3G 2E6, Canada",45.496857,-73.577234,4.4,2
50,Le Boudoir café-bar Inc,"850 Mont-Royal Ave E, Montreal, Quebec H2J 1X1...",45.526203,-73.580682,4.3,2
51,Bar Henrietta,"115 Av. Laurier O, Montréal, QC H2T 2N6, Canada",45.521623,-73.594354,4.5,2
52,Bar Le Record,"7622 Rue St-Hubert, Montréal, QC H2R 2N6, Canada",45.543765,-73.620161,4.5,1
53,Goldies Bar,"7425 Rue Saint-Jacques, Montréal, QC H4B 1W6, ...",45.453635,-73.637037,3.7,1
54,Peel Pub - Sports Bar/Bar Sportif,"1196 Peel St, Montreal, Quebec H3B 2T6, Canada",45.499403,-73.571942,3.8,1
55,Le Cocktail,"1669 St Catherine St E, Montreal, Quebec H2L 2...",45.522216,-73.552883,4.2,N/A
56,Bar Cicchetti,"6703 Park Ave, Montreal, Quebec H2V 4J3, Canada",45.528736,-73.616345,4.5,2
57,Hurley's Irish Pub,"1225 Crescent St, Montreal, Quebec H3G 2B1, Ca...",45.496864,-73.574793,4.4,2
58,Bar Sarah B,"360 Rue Saint-Antoine O, Montréal, QC H2Y 3X4,...",45.502808,-73.560584,4.2,3
59,Bar Le Jockey,"1309 Rue Saint-Zotique E, Montreal, Quebec H2G...",45.541764,-73.602990,4.5,2

### Roadblock. At this point I checked with the documentation and found out that Google Places API returns a maximum of 60 locations per API call. The problem is not with my code but the API itself. Therefore I have prepared a list of the coordinates of all the subway, light rail, and citybike stations in montreal. I'm going to run my an API query for all of them and then concatenate the resulting data frames together and remove duplicates.

In [72]:
lat_lon_list_full_montreal = pd.read_csv("lat_lon_list_full_montreal_ex.csv")

In [73]:
lat_lon_list_full_montreal

      Latitude  Longitude
0    45.510253 -73.556777
1    45.510599 -73.566925
2    45.513294 -73.550578
3    45.514339 -73.561685
4    45.518143 -73.568004
..         ...        ...
475  45.440000 -73.490000
476  45.440000 -73.480000
477  45.440000 -73.470000
478  45.440000 -73.460000
479  45.440000 -73.450000

[480 rows x 2 columns]

In [246]:
append_this = [(45.52, -73.66), (45.52, -73.65), (45.52, -73.64), (45.52, -73.63), (45.52, -73.62), (45.52, -73.61), (45.52, -73.6), (45.52, -73.59), (45.52, -73.58), (45.52, -73.57), (45.52, -73.76)]

In [248]:
new_tuples_df = pd.DataFrame(append_this, columns=['Latitude', 'Longitude'])

In [249]:
new_tuples_df

    Latitude  Longitude
0      45.52     -73.66
1      45.52     -73.65
2      45.52     -73.64
3      45.52     -73.63
4      45.52     -73.62
5      45.52     -73.61
6      45.52     -73.60
7      45.52     -73.59
8      45.52     -73.58
9      45.52     -73.57
10     45.52     -73.76

In [132]:
lat_lon_list_full_montreal = pd.concat([lat_lon_list_full_montreal, new_tuples_df], ignore_index=True)

In [133]:
lat_lon_list_full_montreal

      Latitude  Longitude
0    45.510253 -73.556777
1    45.510599 -73.566925
2    45.513294 -73.550578
3    45.514339 -73.561685
4    45.518143 -73.568004
..         ...        ...
511  45.520000  73.600000
512  45.520000  73.590000
513  45.520000  73.580000
514  45.520000  73.570000
515  45.520000  73.760000

[516 rows x 2 columns]

In [140]:
lat_lon_list_full_montreal.tail(50)

     Latitude  Longitude
466     45.44     -73.58
467     45.44     -73.57
468     45.44     -73.56
469     45.44     -73.55
470     45.44     -73.54
471     45.44     -73.53
472     45.44     -73.52
473     45.44     -73.51
474     45.44     -73.50
475     45.44     -73.49
476     45.44     -73.48
477     45.44     -73.47
478     45.44     -73.46
479     45.44     -73.45
480     45.52      73.67
481     45.52      73.66
482     45.52      73.65
483     45.52      73.64
484     45.52      73.63
485     45.52      73.62
486     45.52      73.61
487     45.51      73.60
488     45.51      73.59
489     45.51      73.58
490     45.51      73.57
491     45.51      73.76
492     45.52      73.67
493     45.52      73.66
494     45.52      73.65
495     45.52      73.64
496     45.52      73.63
497     45.52      73.62
498     45.52      73.61
499     45.51      73.60
500     45.51      73.59
501     45.51      73.58
502     45.51      73.57
503     45.51      73.76
504     45.52      73.67
505     45.52      73.66
506     45.52      73.65
507     45.52      73.64
508     45.52      73.63
509     45.52      73.62
510     45.52      73.61
511     45.52      73.60
512     45.52      73.59
513     45.52      73.58
514     45.52      73.57
515     45.52      73.76

In [135]:
lat_lon_list_full_montreal.to_csv('lat_lon_list_full_montreal_4', index=False)

In [136]:
lat_lon_list_full_montreal_1 = lat_lon_list_full_montreal.iloc[:10,:]
lat_lon_list_full_montreal_2 = lat_lon_list_full_montreal.iloc[10:20,:]
lat_lon_list_full_montreal_3 = lat_lon_list_full_montreal.iloc[20:30,:]
lat_lon_list_full_montreal_4 = lat_lon_list_full_montreal.iloc[30:40,:]
lat_lon_list_full_montreal_5 = lat_lon_list_full_montreal.iloc[40:50,:]
lat_lon_list_full_montreal_6 = lat_lon_list_full_montreal.iloc[50:60,:]
lat_lon_list_full_montreal_7 = lat_lon_list_full_montreal.iloc[60:70,:]
lat_lon_list_full_montreal_8 = lat_lon_list_full_montreal.iloc[70:80,:]
lat_lon_list_full_montreal_9 = lat_lon_list_full_montreal.iloc[80:90,:]
lat_lon_list_full_montreal_10 = lat_lon_list_full_montreal.iloc[90:100,:]
lat_lon_list_full_montreal_11 = lat_lon_list_full_montreal.iloc[100:110,:]
lat_lon_list_full_montreal_12 = lat_lon_list_full_montreal.iloc[110:120,:]
lat_lon_list_full_montreal_13 = lat_lon_list_full_montreal.iloc[120:130,:]
lat_lon_list_full_montreal_14 = lat_lon_list_full_montreal.iloc[130:140,:]
lat_lon_list_full_montreal_15 = lat_lon_list_full_montreal.iloc[140:150,:]
lat_lon_list_full_montreal_16 = lat_lon_list_full_montreal.iloc[150:160,:]
lat_lon_list_full_montreal_17 = lat_lon_list_full_montreal.iloc[160:170,:]
lat_lon_list_full_montreal_18 = lat_lon_list_full_montreal.iloc[170:180,:]
lat_lon_list_full_montreal_19 = lat_lon_list_full_montreal.iloc[180:190,:]
lat_lon_list_full_montreal_20 = lat_lon_list_full_montreal.iloc[190:200,:]
lat_lon_list_full_montreal_21 = lat_lon_list_full_montreal.iloc[200:210,:]
lat_lon_list_full_montreal_22 = lat_lon_list_full_montreal.iloc[210:220,:]
lat_lon_list_full_montreal_23 = lat_lon_list_full_montreal.iloc[220:230,:]
lat_lon_list_full_montreal_24 = lat_lon_list_full_montreal.iloc[230:240,:]
lat_lon_list_full_montreal_25 = lat_lon_list_full_montreal.iloc[240:250,:]
lat_lon_list_full_montreal_26 = lat_lon_list_full_montreal.iloc[250:260,:]
lat_lon_list_full_montreal_27 = lat_lon_list_full_montreal.iloc[260:270,:]
lat_lon_list_full_montreal_28 = lat_lon_list_full_montreal.iloc[270:280,:]
lat_lon_list_full_montreal_29 = lat_lon_list_full_montreal.iloc[280:290,:]
lat_lon_list_full_montreal_30 = lat_lon_list_full_montreal.iloc[290:300,:]
lat_lon_list_full_montreal_31 = lat_lon_list_full_montreal.iloc[300:310,:]
lat_lon_list_full_montreal_32 = lat_lon_list_full_montreal.iloc[310:320,:]
lat_lon_list_full_montreal_33 = lat_lon_list_full_montreal.iloc[320:330,:]
lat_lon_list_full_montreal_34 = lat_lon_list_full_montreal.iloc[330:340,:]
lat_lon_list_full_montreal_35 = lat_lon_list_full_montreal.iloc[340:350,:]
lat_lon_list_full_montreal_36 = lat_lon_list_full_montreal.iloc[350:360,:]
lat_lon_list_full_montreal_37 = lat_lon_list_full_montreal.iloc[360:370,:]
lat_lon_list_full_montreal_38 = lat_lon_list_full_montreal.iloc[370:380,:]
lat_lon_list_full_montreal_39 = lat_lon_list_full_montreal.iloc[380:390,:]
lat_lon_list_full_montreal_40 = lat_lon_list_full_montreal.iloc[390:400,:]
lat_lon_list_full_montreal_41 = lat_lon_list_full_montreal.iloc[400:410,:]
lat_lon_list_full_montreal_42 = lat_lon_list_full_montreal.iloc[410:420,:]
lat_lon_list_full_montreal_43 = lat_lon_list_full_montreal.iloc[420:430,:]
lat_lon_list_full_montreal_44 = lat_lon_list_full_montreal.iloc[430:440,:]
lat_lon_list_full_montreal_45 = lat_lon_list_full_montreal.iloc[440:450,:]
lat_lon_list_full_montreal_46 = lat_lon_list_full_montreal.iloc[450:460,:]
lat_lon_list_full_montreal_47 = lat_lon_list_full_montreal.iloc[460:470,:]
lat_lon_list_full_montreal_48 = lat_lon_list_full_montreal.iloc[470:480,:]
lat_lon_list_full_montreal_49 = lat_lon_list_full_montreal.iloc[480:490,:]
lat_lon_list_full_montreal_50 = lat_lon_list_full_montreal.iloc[480:490,:]
lat_lon_list_full_montreal_51 = lat_lon_list_full_montreal.iloc[490:500,:]
lat_lon_list_full_montreal_52 = lat_lon_list_full_montreal.iloc[500:510,:]
lat_lon_list_full_montreal_53 = lat_lon_list_full_montreal.iloc[510:520,:]

In [76]:
lat_lon_list_full_montreal_1

    Latitude  Longitude
0  45.510253 -73.556777
1  45.510599 -73.566925
2  45.513294 -73.550578
3  45.514339 -73.561685
4  45.518143 -73.568004
5  45.510860 -73.549830
6  45.507144 -73.555119
7  45.507610 -73.551836
8  45.502054 -73.573465
9  45.506314 -73.559671

In [77]:
lat_lon_list_full_montreal_2

     Latitude  Longitude
10  45.505312 -73.560891
11  45.504242 -73.553469
12  45.499965 -73.556154
13  45.502940 -73.560640
14  45.501143 -73.560773
15  45.500643 -73.565408
16  45.502060 -73.562950
17  45.521564 -73.570367
18  45.541448 -73.598394
19  45.498370 -73.560556

In [168]:
lat_lon_list_full_montreal_53

     Latitude  Longitude
510     45.52      73.61
511     45.52      73.60
512     45.52      73.59
513     45.52      73.58
514     45.52      73.57
515     45.52      73.76

In [78]:
data = []  # This will hold data for all bars from all queries

## Running API Call Loop.

## The Loop Returns A Maximum Of 60 Results Per Call. So I'm Running It Many Times Over A List Of Latitude-Longitude Coordinate Pairs. This Will Find All The Restaurants In Montreal That Are In The Downtown Area Or The Transit Serviced Areas Covered By My Coordinate Pairs.

## This Will Have Enough Redundancy That The Same Restaurants Will Be Found Many Times. The Duplicates Will Be Filtered Out

In [250]:
# Loop through each coordinate pair
for index, row in new_tuples_df.iterrows():
    google_parameters = {
        'query': 'bars',
        'key': google_api_key,
        'location': f"{row['Latitude']},{row['Longitude']}",
        'radius': 1000,
        'type': 'bar'
    }

    response = requests.get('https://maps.googleapis.com/maps/api/place/textsearch/json', params=google_parameters)

    # Collect results for the current location
    local_data = []
    while True:
        if response.status_code == 200:
            response_json = response.json()
            results = response_json.get('results', [])
            for place in results:
                local_data.append({
                    'Name': place.get('name'),
                    'Address': place.get('formatted_address'),
                    'Latitude': place['geometry']['location']['lat'],
                    'Longitude': place['geometry']['location']['lng'],
                    'Rating': place.get('rating', 'N/A'),
                    'Price Level': place.get('price_level', 'N/A')
                })

            # Check for a next page token and continue if present
            next_page_token = response_json.get('next_page_token')
            if not next_page_token:
                break
            time.sleep(2)
            google_parameters['pagetoken'] = next_page_token
            response = requests.get('https://maps.googleapis.com/maps/api/place/textsearch/json', params=google_parameters)
        else:
            print(f"Request failed for {row['Latitude']},{row['Longitude']} with status code {response.status_code}")
            break
    # Extend the master data list with the results from this local query
    data.extend(local_data)

In [80]:
# Convert the data collected so far into a DataFrame
bars_1_df = pd.DataFrame(data)

In [81]:
bars_1_df

,Name,Address,Latitude,Longitude,Rating,Price Level
0,Pub St-Paul,"124 Rue Saint-Paul E, Montréal, QC H2Y 1G6",45.506944,-73.552500,3.9,2
1,Piranha Bar,"680 Saint-Catherine St W, Montreal, Quebec H3B...",45.502852,-73.569942,4.1,1
2,Patrick's Pub,"1707 Saint Denis St, Montreal, Quebec H2X 3K4",45.515570,-73.564079,4.2,2
3,MVP Resto-Bar Sportif,"200 St Catherine St E, Montreal, Quebec H2X 1L1",45.511730,-73.561981,3.8,2
4,Pub John Michaels,"458 Pl. Jacques-Cartier, Montréal, QC H2Y 3Z2",45.508011,-73.553953,4.0,2
...,...,...,...,...,...,...
595,Bar Pamplemousse,"1579 St Laurent Blvd, Montreal, Quebec H2X 2S9",45.510883,-73.565665,4.5,2
596,Mad Hatter Pub,"1240 Crescent St, Montreal, Quebec H3G 2A9",45.496702,-73.575262,4.3,1
597,Pub Quartier Latin,"318 Ontario St E, Montreal, Quebec H2X 1H6",45.515003,-73.565362,4.6,2
598,HOOTERS,"1433 Crescent St, Montreal, Quebec H3G 2B2",45.497673,-73.576425,3.2,2
599,Restaurant & Bar Le Kube,"Restaurant Hôtel, 900 Rue De la Gauchetière O,...",45.499151,-73.565686,3.4,N/A

In [83]:
bars_1_df.nunique(axis=0)

Name           125
Address        124
Latitude       126
Longitude      126
Rating          20
Price Level      4
dtype: int64

In [88]:
# Convert the data collected so far into a DataFrame
bars_2_df = pd.DataFrame(data)

In [89]:
bars_2_df

,Name,Address,Latitude,Longitude,Rating,Price Level
0,Pub St-Paul,"124 Rue Saint-Paul E, Montréal, QC H2Y 1G6",45.506944,-73.552500,3.9,2
1,Piranha Bar,"680 Saint-Catherine St W, Montreal, Quebec H3B...",45.502852,-73.569942,4.1,1
2,Patrick's Pub,"1707 Saint Denis St, Montreal, Quebec H2X 3K4",45.515570,-73.564079,4.2,2
3,MVP Resto-Bar Sportif,"200 St Catherine St E, Montreal, Quebec H2X 1L1",45.511730,-73.561981,3.8,2
4,Pub John Michaels,"458 Pl. Jacques-Cartier, Montréal, QC H2Y 3Z2",45.508011,-73.553953,4.0,2
...,...,...,...,...,...,...
1195,Restaurant & Bar Le Kube,"Restaurant Hôtel, 900 Rue De la Gauchetière O,...",45.499151,-73.565686,3.4,N/A
1196,Le Warehouse,"1446 Crescent St, Montreal, Quebec H3G 2B6",45.497574,-73.576840,4.0,1
1197,Bar Sarah B,"360 Rue Saint-Antoine O, Montréal, QC H2Y 3X4",45.502808,-73.560584,4.2,3
1198,Le Bureau Bar Tapas,"1642 Notre-Dame St W, Montreal, Quebec H3J 1M1",45.489383,-73.567560,4.4,2
1199,Bar Bisou Bisou,"416 R. Saint-Vincent, Montréal, QC H2Y 1E6",45.507076,-73.553516,4.9,N/A

In [91]:
bars_3_df = pd.DataFrame(data)

In [92]:
len(bars_3_df)

1800

In [94]:
bars_4_df = pd.DataFrame(data)
len(bars_4_df)

2400

In [96]:
bars_5_df = pd.DataFrame(data)
len(bars_5_df)

3000

In [98]:
bars_6_df = pd.DataFrame(data)
len(bars_6_df)

3600

In [100]:
bars_7_df = pd.DataFrame(data)
len(bars_7_df)

4200

In [102]:
bars_8_df = pd.DataFrame(data)
len(bars_8_df)

4800

In [113]:
bars_9_df = pd.DataFrame(data)
len(bars_9_df)

6000

In [115]:
bars_10_df = pd.DataFrame(data)
len(bars_10_df)

6600

In [117]:
bars_11_df = pd.DataFrame(data)
len(bars_11_df)

7200

In [120]:
bars_12_df = pd.DataFrame(data)
len(bars_12_df)

7800

In [138]:
bars_13_df = pd.DataFrame(data)
len(bars_13_df)

8400

In [141]:
bars_14_df = pd.DataFrame(data)
len(bars_14_df)

9000

In [143]:
bars_15_df = pd.DataFrame(data)
len(bars_15_df)

9600

In [145]:
bars_16_df = pd.DataFrame(data)
len(bars_16_df)

10200

In [147]:
bars_17_df = pd.DataFrame(data)
len(bars_17_df)

10800

In [149]:
bars_18_df = pd.DataFrame(data)
len(bars_18_df)

11340

In [151]:
bars_19_df = pd.DataFrame(data)
len(bars_19_df)

11940

In [154]:
bars_20_df = pd.DataFrame(data)
len(bars_20_df)

13140

In [156]:
bars_21_df = pd.DataFrame(data)
len(bars_21_df)

13740

In [160]:
bars_21_df.to_csv('bars_21_df', index=False)

In [162]:
bars_22_df = pd.DataFrame(data)
len(bars_22_df)

14340

In [164]:
bars_23_df = pd.DataFrame(data)
len(bars_23_df)

14940

In [166]:
bars_24_df = pd.DataFrame(data)
len(bars_24_df)

15540

In [169]:
bars_25_df = pd.DataFrame(data)
len(bars_25_df)

16140

In [171]:
bars_26_df = pd.DataFrame(data)
len(bars_26_df)

16740

In [173]:
bars_27_df = pd.DataFrame(data)
len(bars_27_df)

17340

In [175]:
bars_28_df = pd.DataFrame(data)
len(bars_28_df)

17940

In [177]:
bars_29_df = pd.DataFrame(data)
len(bars_29_df)

18540

In [179]:
bars_30_df = pd.DataFrame(data)
len(bars_30_df)

19140

In [181]:
bars_31_df = pd.DataFrame(data)
len(bars_31_df)

19740

In [183]:
bars_32_df = pd.DataFrame(data)
len(bars_32_df)

20340

In [186]:
bars_33_df = pd.DataFrame(data)
len(bars_33_df)

20940

In [188]:
bars_34_df = pd.DataFrame(data)
len(bars_34_df)

21540

In [190]:
bars_35_df = pd.DataFrame(data)
len(bars_35_df)

22140

In [192]:
bars_36_df = pd.DataFrame(data)
len(bars_36_df)

22740

In [194]:
bars_37_df = pd.DataFrame(data)
len(bars_37_df)

23340

In [196]:
bars_38_df = pd.DataFrame(data)
len(bars_38_df)

23940

In [198]:
bars_39_df = pd.DataFrame(data)
len(bars_39_df)

24540

In [200]:
bars_40_df = pd.DataFrame(data)
len(bars_40_df)

25140

In [202]:
bars_41_df = pd.DataFrame(data)
len(bars_41_df)

25740

In [204]:
bars_42_df = pd.DataFrame(data)
len(bars_42_df)

26340

In [206]:
bars_43_df = pd.DataFrame(data)
len(bars_43_df)

26940

In [208]:
bars_44_df = pd.DataFrame(data)
len(bars_44_df)

27540

In [210]:
bars_45_df = pd.DataFrame(data)
len(bars_45_df)

28140

In [212]:
bars_46_df = pd.DataFrame(data)
len(bars_46_df)

28740

In [214]:
bars_47_df = pd.DataFrame(data)
len(bars_47_df)

29340

In [216]:
bars_48_df = pd.DataFrame(data)
len(bars_48_df)

29940

In [218]:
bars_49_df = pd.DataFrame(data)
len(bars_49_df)

30540

In [220]:
bars_50_df = pd.DataFrame(data)
len(bars_50_df)

31140

In [222]:
bars_51_df = pd.DataFrame(data)
len(bars_51_df)

31740

In [224]:
bars_52_df = pd.DataFrame(data)
len(bars_52_df)

32340

In [226]:
bars_53_df = pd.DataFrame(data)
len(bars_53_df)

32700

In [252]:
bars_54_df = pd.DataFrame(data)

In [253]:
len(bars_54_df)

33360

In [227]:
bars_53_df

,Name,Address,Latitude,Longitude,Rating,Price Level
0,Pub St-Paul,"124 Rue Saint-Paul E, Montréal, QC H2Y 1G6",45.506944,-73.552500,3.9,2
1,Piranha Bar,"680 Saint-Catherine St W, Montreal, Quebec H3B...",45.502852,-73.569942,4.1,1
2,Patrick's Pub,"1707 Saint Denis St, Montreal, Quebec H2X 3K4",45.515570,-73.564079,4.2,2
3,MVP Resto-Bar Sportif,"200 St Catherine St E, Montreal, Quebec H2X 1L1",45.511730,-73.561981,3.8,2
4,Pub John Michaels,"458 Pl. Jacques-Cartier, Montréal, QC H2Y 3Z2",45.508011,-73.553953,4.0,2
...,...,...,...,...,...,...
32695,Barvikha,"Konayev Ave 39, Shymkent",42.329149,69.601676,4.6,N/A
32696,SVOYBAR.KZ,"Magzhan Zhumabaev Avenue 24, Astana 020000",51.140154,71.488687,2.9,N/A
32697,Угли Bar & More Лаунж-бар,"Respublika Ave 23/1, Astana 010000",51.164357,71.426272,4.6,N/A
32698,lounge bar,"9V4X+VM4, Stepnogorsk 020000",52.357152,71.899304,3.2,N/A
32699,Black ROOM Lounge Bar,"Zhengis Ave 5/1, Astana 010000",51.161735,71.413519,4.6,N/A

# Find and filter out duplicates

In [ ]:

duplicate_rows = bars_54_df.duplicated()

In [255]:
num_duplicates = duplicate_rows.sum()

In [256]:
num_duplicates

32765

In [257]:
duplicates = bars_53_df[bars_53_df.duplicated(keep=False)]

In [258]:
duplicates

,Name,Address,Latitude,Longitude,Rating,Price Level
0,Pub St-Paul,"124 Rue Saint-Paul E, Montréal, QC H2Y 1G6",45.506944,-73.552500,3.9,2
1,Piranha Bar,"680 Saint-Catherine St W, Montreal, Quebec H3B...",45.502852,-73.569942,4.1,1
2,Patrick's Pub,"1707 Saint Denis St, Montreal, Quebec H2X 3K4",45.515570,-73.564079,4.2,2
3,MVP Resto-Bar Sportif,"200 St Catherine St E, Montreal, Quebec H2X 1L1",45.511730,-73.561981,3.8,2
4,Pub John Michaels,"458 Pl. Jacques-Cartier, Montréal, QC H2Y 3Z2",45.508011,-73.553953,4.0,2
...,...,...,...,...,...,...
32695,Barvikha,"Konayev Ave 39, Shymkent",42.329149,69.601676,4.6,N/A
32696,SVOYBAR.KZ,"Magzhan Zhumabaev Avenue 24, Astana 020000",51.140154,71.488687,2.9,N/A
32697,Угли Bar & More Лаунж-бар,"Respublika Ave 23/1, Astana 010000",51.164357,71.426272,4.6,N/A
32698,lounge bar,"9V4X+VM4, Stepnogorsk 020000",52.357152,71.899304,3.2,N/A
32699,Black ROOM Lounge Bar,"Zhengis Ave 5/1, Astana 010000",51.161735,71.413519,4.6,N/A

In [259]:
bars_in_montreal_collected_unique = bars_54_df.drop_duplicates(keep='first')

In [260]:
bars_in_montreal_collected_unique.tail(20)

,Name,Address,Latitude,Longitude,Rating,Price Level
29995,Guten Pub,"Mukimi Street 88, Tashkent, Toshkent Shahri, U...",41.285095,69.234993,4.1,N/A
29996,Radisson Бар Cigar,"Saryarka Avenue 2, Astana 020000",51.159281,71.412689,5.0,N/A
29997,Barsuk Restobar,"Молдагалиева 29Б, Atyrau",47.093408,51.915408,4.3,N/A
29998,WWK Bar,"Prospekt Mangilik Yel. 27, Astana 020000",51.109234,71.431080,5.0,N/A
29999,Baoli Lounge & Cafe Nur-Sultan,"Turkistan Street 16, Astana 020000",51.106972,71.424823,4.1,2
30043,Resto Bar 24/7,"R3FF+JC8, Karaganda 100000",49.824014,73.073505,5.0,N/A
30046,Мята Lounge Мендикуловта,"Khadzhimukan Street 49, Almaty 050051",43.225372,76.954621,4.3,2
30047,Мята lounge на Кунаева,"Kunaev St 83, Almaty 050000",43.256972,76.949263,4.7,N/A
30048,Kafe Gril' Bar Kabinet,"Nurken Abdirov Avenue 32, Karaganda 100000",49.805729,73.101210,5.0,N/A
30051,Pivnoy Bar,"4FJH+H94, Astana 020000",51.131247,71.478380,0.0,N/A
30056,Barvikha,"Konayev Ave 39, Shymkent",42.329149,69.601676,4.6,N/A
30057,SVOYBAR.KZ,"Magzhan Zhumabaev Avenue 24, Astana 020000",51.140154,71.488687,2.9,N/A
30059,lounge bar,"9V4X+VM4, Stepnogorsk 020000",52.357152,71.899304,3.2,N/A
30297,РАЙБАР,"Saryarka Avenue 21, Astana 010000",51.169423,71.406638,2.3,N/A
30779,Unobar,"Kenesary St 65, Astana 020000",51.167510,71.441396,5.0,N/A
30953,Tennisi Arena Pub,"Zhandosov Street 2, Almaty 050000",43.236895,76.913159,4.5,2
30957,"Лаунж-бар ""Gin""","R432+VFF, Nurken Abdirov Avenue, Karaganda 100000",49.804691,73.101182,4.1,N/A
33155,Barbossa,"3956 A St Laurent Blvd, Montreal, Quebec H2W 1Y3",45.516651,-73.578984,4.1,2
33236,KARAOKE BAR 3 MINOTS,"3812 St Laurent Blvd, Montreal, Quebec H2W 1X6",45.515533,-73.576472,3.4,1
33348,Castello Resto Lounge,"615 Bd Curé-Labelle, Laval, QC H7V 2T8",45.537344,-73.742808,4.2,2

In [261]:
bars_in_montreal_collected_unique.to_csv('bars_in_montreal_collected_unique.csv', index=False)

In [263]:
bars_in_montreal_collected_unique.to_csv('bars_in_montreal_collected_unique_conv.csv', index=False)

In [264]:
bars_in_montreal_collected_unique.to_csv('bars_in_montreal_collected_unique_utf8.csv', index=False, encoding='utf-8-sig')

## Add GeoHashes

In [265]:
import geohash

# Function to generate geohash
def compute_geohash(row, precision=5):
    return geohash.encode(row['Latitude'], row['Longitude'], precision=precision)

In [266]:
# Apply the function to each row in the DataFrame
bars_in_montreal_collected_unique['Geohash'] = bars_in_montreal_collected_unique.apply(compute_geohash, axis=1)

C:\Users\Laven\AppData\Local\Temp\ipykernel_30516\102107679.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bars_in_montreal_collected_unique['Geohash'] = bars_in_montreal_collected_unique.apply(compute_geohash, axis=1)

In [267]:
bars_in_montreal_collected_unique

,Name,Address,Latitude,Longitude,Rating,Price Level,Geohash
0,Pub St-Paul,"124 Rue Saint-Paul E, Montréal, QC H2Y 1G6",45.506944,-73.552500,3.9,2,f25dy
1,Piranha Bar,"680 Saint-Catherine St W, Montreal, Quebec H3B...",45.502852,-73.569942,4.1,1,f25dv
2,Patrick's Pub,"1707 Saint Denis St, Montreal, Quebec H2X 3K4",45.515570,-73.564079,4.2,2,f25dy
3,MVP Resto-Bar Sportif,"200 St Catherine St E, Montreal, Quebec H2X 1L1",45.511730,-73.561981,3.8,2,f25dy
4,Pub John Michaels,"458 Pl. Jacques-Cartier, Montréal, QC H2Y 3Z2",45.508011,-73.553953,4.0,2,f25dy
...,...,...,...,...,...,...,...
30953,Tennisi Arena Pub,"Zhandosov Street 2, Almaty 050000",43.236895,76.913159,4.5,2,txwty
30957,"Лаунж-бар ""Gin""","R432+VFF, Nurken Abdirov Avenue, Karaganda 100000",49.804691,73.101182,4.1,N/A,v8ggr
33155,Barbossa,"3956 A St Laurent Blvd, Montreal, Quebec H2W 1Y3",45.516651,-73.578984,4.1,2,f25dv
33236,KARAOKE BAR 3 MINOTS,"3812 St Laurent Blvd, Montreal, Quebec H2W 1X6",45.515533,-73.576472,3.4,1,f25dv
33348,Castello Resto Lounge,"615 Bd Curé-Labelle, Laval, QC H7V 2T8",45.537344,-73.742808,4.2,2,f25e1

In [268]:
unique_geohashes = bars_in_montreal_collected_unique['Geohash'].nunique()
unique_geohashes

77

In [ ]:
bars_in_montreal_collected_unique.to_csv('bars_in_montreal_collected_unique_utf8.csv', index=False, encoding='utf-8-sig')

This code worked to get all the bars in these areas of montreal. I accidently looped over some coordinates in the Eastern Hemisphere. (I already removed the code where I did that above. You cannot see it.) I removed the mistaken results in Excel.